@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

[data-state="open"] {
  display: block;
}

[data-state="closed"] {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.marker-cluster {
  background: #1986c1;
  border-radius: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 45px !important;
  height: 45px !important;
}

.marker-cluster span {
  color: white;
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
}

.leaflet-popup-content {
  font-size: 14px;
  font-family: 'Poppins', sans-serif !important;
}
