.bg-content-board {
  background: linear-gradient(180deg, rgba(3, 29, 58, 0.2) 64.06%, #031d3a 100%);
}

.slick-dots li button:before {
  font-size: 24px !important;
}

.slick-dots {
  bottom: -45px !important;
}

.slick-dots li.slick-active button:before {
  color: #1986c1 !important;
}
