.slick-dots li button {
  color: #1986C1;
}

.slick-dots li button:before {
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  background-color: var(--gray-main) !important;
  width: 40px;
  height: 40px;
  text-align: center;
  opacity: 0.25;
  color: #1986C1;
  -webkit-font-smoothing: antialiased;
}

.slick-dots li.slick-active button:before {
  color: var(--blue) !important;
}

& .slick-list {
  margin: 0 -7px;

  & .slick-slide > div {
    padding: 10px 10px;
  }
  slick-arrow .slick-next,
  .slick-prev {
    display: none;
  }
}

.bg-custom-gradient {
  position: relative;
  overflow: hidden;
  transition: background 5s ease;
}

.bg-custom-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    135deg,
    hsla(201, 77%, 43%, 1) 0%,
    hsla(201, 78%, 58%, 1) 50%,
    hsla(212, 90%, 12%, 1) 100%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
}

.bg-custom-gradient:hover::before {
  opacity: 1;
}
